<div class="row">
    <div class="box">
        <div class="box-header box box-alizarin">
            <h4 data-translate="saudeBucal.dentesfrente.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="saudeBucal.dentesfrente.conteudo">
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-alizarin">
            <h4 data-translate="saudeBucal.dentestraz.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="saudeBucal.dentestraz.conteudo">
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-alizarin">
            <h4 data-translate="saudeBucal.escovardentes.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="saudeBucal.escovardentes.conteudo">
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-alizarin">
            <h4 data-translate="saudeBucal.criançaidependente.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="saudeBucal.criançaidependente.conteudo">
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-alizarin">
            <h4 data-translate="saudeBucal.mantendolimpo.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="saudeBucal.mantendolimpo.conteudo">
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-alizarin">
            <h4 data-translate="saudeBucal.livrecaries.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="saudeBucal.livrecaries.conteudo">
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-alizarin">
            <h4 data-translate="saudeBucal.evitandocarie.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="saudeBucal.evitandocarie.conteudo">
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-alizarin">
            <h4 data-translate="saudeBucal.informação.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="saudeBucal.informação.primeira"></h5>
            <h5 data-translate="saudeBucal.informação.segunda"></h5>
            <h5 data-translate="saudeBucal.informação.terceira"></h5>
        </div>
    </div>
</div>