<form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>
<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success" ng-show="vm.success" data-translate="settings.messages.success">
                <strong>Configurações salvas com sucesso!</strong>
            </div>
            <jhi-alert-error></jhi-alert-error>
             <div class="form-group">
                    <label class="control-label" for="login">Login</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="{{'global.form.login.placeholder' | translate}}"
                        ng-model="vm.settingsAccount.login" readonly ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block" ng-show="form.login.$error.required" data-translate="global.messages.validate.login.required">
                            Your loginis required.
                        </p>
                        <p class="help-block" ng-show="form.login.$error.minlength" data-translate="global.messages.validate.login.minlength">
                            Your login is required to be at least 5 characters.
                        </p>
                        <p class="help-block" ng-show="form.login.$error.maxlength" data-translate="global.messages.validate.login.maxlength">
                            Your login cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>

            <div class="form-group">
                    <label class="control-label" for="email" data-translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                        ng-model="vm.settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block" ng-show="form.email.$error.required" data-translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.email" data-translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.minlength" data-translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.maxlength" data-translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <span>CPF</span>
                    <input type="text" class="form-control" minlength="11" validate-cpf maxlength="11" placeholder="99999999999" id="cpf" name="cpf" ng-model="vm.agenteSaude.cpf" required>
                </div>
                <p class="help-block" ng-show="form.cpf.$error.maxlength">
                            O CPF deve ter 11 digitos.
                        </p>
                         <p class="help-block" ng-show="form.cpf.$error.minlength">
                            O CPF deve ter 11 digitos.
                        </p>
                <div class="form-group">
                    <span>Nome</span>
                    <input type="text" class="form-control" id="nomeAgente" name="nomeAgente" ng-model="vm.agenteSaude.nome" required>
                </div>
                <div class="form-group">
                    <span>Crm</span>
                    <input type="text" class="form-control" id="crm" maxlength="5" name="crm" ng-model="vm.agenteSaude.crm" required>
                </div>

                <div class="form-group">
                    <span>Coren</span>
                    <input type="text" class="form-control" id="coren" maxlength="5" name="coren" ng-model="vm.agenteSaude.coren" required>
                </div>

                <div class="form-group">
                    <span>Inscrição Municipal</span>
                    <input type="text" class="form-control" id="inscricao_municipal" maxlength="5" name="inscricao_municipal" ng-model="vm.agenteSaude.inscricao_municipal"
                        required>
                </div>

                <!--Aqui termina o cadastro de paciente-->
                <div class="form-group">
                    <button type="submit" ng-disabled="form.$invalid || vm.agenteSaude.cpf.length !== 11" class="btn btn-primary" data-translate="settings.form.button">Save</button>
                </div>
            </div>
        


    </div>

</div>
</form>