<!--<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAgente_saudeLabel" data-translate="cadernetavacinacaoApp.agente_saude.home.createOrEditLabel">Create or edit a Agente Saude</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.agente_saude.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.agente_saude.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.agente_saude.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.agente_saude.nome"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.agente_saude.cpf" for="field_cpf">Cpf</label>
            <input type="text" class="form-control" name="cpf" id="field_cpf"
                    ng-model="vm.agente_saude.cpf"
                    ng-maxlength="11"/>
            <div ng-show="editForm.cpf.$invalid">
                <p class="help-block"
                    ng-show="editForm.cpf.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="11">
                    This field cannot be longer than 11 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.agente_saude.crm" for="field_crm">Crm</label>
            <input type="text" class="form-control" name="crm" id="field_crm"
                    ng-model="vm.agente_saude.crm"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.agente_saude.coren" for="field_coren">Coren</label>
            <input type="text" class="form-control" name="coren" id="field_coren"
                    ng-model="vm.agente_saude.coren"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.agente_saude.inscricao_municipal" for="field_inscricao_municipal">Inscricao Municipal</label>
            <input type="text" class="form-control" name="inscricao_municipal" id="field_inscricao_municipal"
                    ng-model="vm.agente_saude.inscricao_municipal"
                    />
        </div>

        <div class="form-group">
            <label data-translate="cadernetavacinacaoApp.agente_saude.login" for="field_login">Login</label>
            <select class="form-control" id="field_login" name="login" ng-model="vm.agente_saude.login" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>-->
<form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAgente_saudeLabel" data-translate="cadernetavacinacaoApp.agente_saude.home.createOrEditLabel">Create or edit a Agente Saude</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
      
        <div class="form-group">
            <span>Login</span>
            <input type="text" class="form-control" id="login" name="login" ng-model="vm.agente_saude.login.login" ng-minlength=1 ng-maxlength=50
                ng-pattern="/^[_'.@A-Za-z0-9-]*$/" required>
            <div ng-show="form.login.$dirty && form.login.$invalid">
                <p class="help-block" ng-show="form.login.$error.required">
                    Este campo é obrigatório
                </p>
                <p class="help-block" ng-show="form.login.$error.minlength" data-translate="register.messages.validate.login.minlength">
                    Your username is required to be at least 1 character.
                </p>
                <p class="help-block" ng-show="form.login.$error.maxlength" data-translate="register.messages.validate.login.maxlength">
                    Your username cannot be longer than 50 characters.
                </p>
                <p class="help-block" ng-show="form.login.$error.pattern" data-translate="register.messages.validate.login.pattern">
                    Your username can only contain lower-case letters and digits.
                </p>
            </div>
        </div>
         <div class="form-group" ng-show="vm.agente_saude.id == null">
                    <span>Senha</span>
                    <input type="password" class="form-control" id="password" name="password" 
                        ng-model="vm.agente_saude.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block" ng-show="form.password.$error.required" data-translate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </p>
                        <p class="help-block" ng-show="form.password.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </p>
                        <p class="help-block" ng-show="form.password.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.agente_saude.password"></password-strength-bar>
                </div>
        <div class="form-group">
            <span>Email</span>
            <input type="email" class="form-control" id="email" name="email" ng-model="vm.agente_saude.email" ng-minlength=5 ng-maxlength=100
                required>
            <div ng-show="form.email.$dirty && form.email.$invalid">
                <p class="help-block" ng-show="form.email.$error.required" data-translate="global.messages.validate.email.required">
                    Your e-mail is required.
                </p>
                <p class="help-block" ng-show="form.email.$error.email" data-translate="global.messages.validate.email.invalid">
                    Your e-mail is invalid.
                </p>
                <p class="help-block" ng-show="form.email.$error.minlength" data-translate="global.messages.validate.email.minlength">
                    Your e-mail is required to be at least 5 characters.
                </p>
                <p class="help-block" ng-show="form.email.$error.maxlength" data-translate="global.messages.validate.email.maxlength">
                    Your e-mail cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <!--<div class="form-group">
            <span>Senha</span>
            <input type="password" class="form-control" id="password" name="password" ng-model="vm.agente_saude.password" ng-minlength=4
                ng-maxlength=50 required>
            <div ng-show="form.password.$dirty && form.password.$invalid">
                <p class="help-block" ng-show="form.password.$error.required" data-translate="global.messages.validate.newpassword.required">
                    Your password is required.
                </p>
                <p class="help-block" ng-show="form.password.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                    Your password is required to be at least 4 characters.
                </p>
                <p class="help-block" ng-show="form.password.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                    Your password cannot be longer than 50 characters.
                </p>
            </div>
            <password-strength-bar password-to-check="vm.agente_saude.password"></password-strength-bar>
        </div>
        <div class="form-group">
            <span>Confirme a senha</span>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="vm.confirmPassword" ng-minlength=4
                ng-maxlength=50 required>
            <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                <p class="help-block" ng-show="form.confirmPassword.$error.required" data-translate="global.messages.validate.confirmpassword.required">
                    Your confirmation password is required.
                </p>
                <p class="help-block" ng-show="form.confirmPassword.$error.minlength" data-translate="global.messages.validate.confirmpassword.minlength">
                    Your confirmation password is required to be at least 4 characters.
                </p>
                <p class="help-block" ng-show="form.confirmPassword.$error.maxlength" data-translate="global.messages.validate.confirmpassword.maxlength">
                    Your confirmation password cannot be longer than 50 characters.
                </p>
                <p class="help-block" ng-show="vm.confirmPassword !== vm.agente_saude.password">
                    As senhas devem ser iguais
                </p>
            </div>
        </div>-->
        <div class="form-group">
            <span>CPF</span>
            <input type="text" class="form-control" id="cpfAgente" name="cpfAgente" ng-model="vm.agente_saude.cpf" validate-cpf ui-options="{clearOnBlur: false}"
                numbers-only maxlength="11" minlength="11" placeholder="99999999999" required>
            <p class="help-block" ng-show="form.cpfAgente.$error.minlength">
                O CPF deve ter 11 dígitos
            </p>
            <p class="help-block" ng-show="form.cpfAgente.$error.maxlength">
                O CPF deve ter 11 dígitos
            </p>

        </div>
        <div class="form-group">
            <span>Nome</span>
            <input type="text" class="form-control" id="nomeAgente" name="nomeAgente" ng-model="vm.agente_saude.nome" required>
        </div>
        <div class="form-group">
            <span>Crm</span>
            <input type="text" class="form-control" id="crm" numbers-only maxlength="5" name="crm" ng-model="vm.agente_saude.crm" required>
        </div>
        <div class="form-group">
            <span>Coren</span>
            <input type="text" class="form-control" numbers-only maxlength="5" id="coren" name="coren" ng-model="vm.agente_saude.coren" required>
        </div>
        <div class="form-group">
            <span>Inscrição Municipal</span>
            <input type="text" class="form-control" id="inscricao_municipal"  numbers-only maxlength="5" name="inscricao_municipal" ng-model="vm.agente_saude.inscricao_municipal"
                required>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button type="submit" ng-disabled="form.$invalid || vm.agente_saude.cpf.length !==11" class="btn btn-primary">
                <span class="glyphicon glyphicon-ban-save"></span><span data-translate="entity.action.save">Salvar</span>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span><span data-translate="entity.action.cancel">Cancelar</span>
            </button>
        </div>
    </div>
</form>