
<div>
    <h2><span data-translate="cadernetavacinacaoApp.agente_saude.detail.title">Agente Saude</span> {{vm.agente_saude.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="cadernetavacinacaoApp.agente_saude.nome">Nome</span></dt>
        <dd>
            <span>{{vm.agente_saude.nome}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.agente_saude.cpf">Cpf</span></dt>
        <dd>
            <span>{{vm.agente_saude.cpf}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.agente_saude.crm">Crm</span></dt>
        <dd>
            <span>{{vm.agente_saude.crm}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.agente_saude.coren">Coren</span></dt>
        <dd>
            <span>{{vm.agente_saude.coren}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.agente_saude.inscricao_municipal">Inscricao Municipal</span></dt>
        <dd>
            <span>{{vm.agente_saude.inscricao_municipal}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.agente_saude.login">Login</span></dt>
        <dd>
            {{vm.agente_saude.login.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <!--<button type="button" ui-sref="agente-saude-detail.edit({id:vm.agente_saude.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>-->
</div>
