<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="agente-saude.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cadernetavacinacaoApp.agente_saude.home.createLabel">
                        Create new Agente Saude
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.agente_saude.nome">Nome</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.agente_saude.cpf">Cpf</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.agente_saude.crm">Crm</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.agente_saude.coren">Coren</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.agente_saude.inscricao_municipal">Inscricao Municipal</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.agente_saude.login">Login</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <input type="text" ng-model="criterioBusca" class="form-control" placeholder="Digite qualquer coisa relacionada ao agente de saude"/>
                <tr ng-repeat="agente_saude in vm.agente_saudes | filter:criterioBusca | orderBy: criterioOrdenacao:direcaoOrdenacao">
                    <td><a ui-sref="agente-saude-detail({id:agente_saude.id})">{{agente_saude.id}}</a></td>
                    <td>{{agente_saude.nome}}</td>
                    <td>{{agente_saude.cpf}}</td>
                    <td>{{agente_saude.crm}}</td>
                    <td>{{agente_saude.coren}}</td>
                    <td>{{agente_saude.inscricao_municipal}}</td>
                    <td>
                        {{agente_saude.login.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="agente-saude-detail({id:agente_saude.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <!--<button type="submit"
                                    ui-sref="agente-saude.edit({id:agente_saude.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="agente-saude.delete({id:agente_saude.id})"
                                    class="btn btn-danger btn-sm"  ng-disabled="vm.currentAccount.login==user.login">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
