<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 data-translate="password.title" translate-values="{username: '{{vm.account.login}}'}">Password for [<b>{{vm.account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success" data-translate="password.messages.success">
                <strong>Senha alterada com sucesso!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error"  data-translate="password.messages.error">
                <strong>Ocorreu um erro!</strong>A senha não pode ser alterada.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
                A senha e sua confirmação devem ser iguais!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password" data-translate="global.form.newpassword">Nova senha</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required" data-translate="global.messages.validate.newpassword.required">
                            Sua senha é obrigatória
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                            A senha deve ter pelo menos 5 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                            A senha não pode ter mais de 50 caracteres
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword" data-translate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required" data-translate="global.messages.validate.confirmpassword.required">
                            A confirmação da senha é obrigatória.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength" data-translate="global.messages.validate.confirmpassword.minlength">
                           A confirmação da senha deve ter pelo menos 5 caracteres
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength" data-translate="global.messages.validate.confirmpassword.maxlength">
                           A confirmação da senha não pode ter mais de 50 caracteres
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" data-translate="password.form.button">Save</button>
            </form>
        </div>
    </div>
</div>
