<div class="row">
    <div class="box">
        <div class="box-header box box-amethyst">
            <h4 data-translate="eviteAcidentes.primeiradica.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="eviteAcidentes.primeiradica.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-amethyst">
            <h4 data-translate="eviteAcidentes.segundadica.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="eviteAcidentes.segundadica.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-amethyst">
            <h4 data-translate="eviteAcidentes.terceiradica.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="eviteAcidentes.terceiradica.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-amethyst">
            <h4 data-translate="eviteAcidentes.quartadica.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="eviteAcidentes.quartadica.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-amethyst">
            <h4 data-translate="eviteAcidentes.quintadica.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="eviteAcidentes.quintadica.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-amethyst">
            <h4 data-translate="eviteAcidentes.sextadica.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="eviteAcidentes.sextadica.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-amethyst">
            <h4 data-translate="eviteAcidentes.setimadica.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="eviteAcidentes.setimadica.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-amethyst">
            <h4 data-translate="eviteAcidentes.oitavadica.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="eviteAcidentes.oitavadica.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-amethyst">
            <h4 data-translate="eviteAcidentes.nonadica.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="eviteAcidentes.nonadica.conteudo">
            
            </h5>
        </div>
    </div>
</div>
