<div class="row">
    <div class="box">
        <div class="box-header box box-river">
            <h4 data-translate="dicasSaude.crescimentosaudavel.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="dicasSaude.crescimentosaudavel.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-river">
            <h4 data-translate="dicasSaude.audicaovisaocrianca.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="dicasSaude.audicaovisaocrianca.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-river">
            <h4 data-translate="dicasSaude.atencaocrianca.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="dicasSaude.atencaocrianca.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-river">
            <h4 data-translate="dicasSaude.naofume.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="dicasSaude.naofume.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-river">
            <h4 data-translate="dicasSaude.diarreia.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="dicasSaude.diarreia.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-river">
            <h4 data-translate="dicasSaude.soro.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="dicasSaude.soro.conteudo">
            
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="box-header box box-river">
            <h4 data-translate="dicasSaude.urgencia.titulo">
            </h4>
        </div>
        <div class="box-body">
            <h5 data-translate="dicasSaude.urgencia.conteudo">
            
            </h5>
        </div>
    </div>
</div>
