<form name="form" id="form" ng-model="form">

    
<div class="row">
    <div class="box report">
        <div class="box-header box box-asphalt"><h4>Emitir relatório de vacinas aplicadas por periodo<h4></div>
        <div class="box-body">
            <div class="form-group">
                <label for="">Data Inicio</label>
                <div class="input-group">
                <input id="dataInicio" 
                    type="text" 
                    class="form-control" name="dataInicio" 
                    ng-model="vm.dataInicio" 
                    ng-model-options="{ updateOn: 'blur', allowInvalid: true}"
                    uib-datepicker-popup="dd/MM/yyyy"
                    ui-mask="99/99/9999"
                     model-view-value="true"
                     required
                        is-open="vm.datePickerOpenStatus.dataInicio" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataInicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <!--<input type="text" ng-model="vm.teste">
            {{teste}}
            Data Inicio: {{vm.dataInicio}}-->
            <div class="form-group">
                <label for="">Data Fim</label>
                <div class="input-group">
                    <input id="dataFim" type="text" class="form-control" name="dataFim" 
                        ng-model="vm.dataFim" 
                        ng-model-options="{ updateOn: 'blur', allowInvalid: true}"
                        ui-mask="99/99/9999"
                        model-view-value="true"
                        uib-datepicker-popup="dd/MM/yyyy"
                        required
                        is-open="vm.datePickerOpenStatus.dataFim" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataFim')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                   <button class="btn btn-primary" ng-disabled="form.$invalid || vm.dataFimm < vm.dataInicio || vm.dataInicio > vm.dataFim " ng-click="vm.vacinasPorPeriodo()">Emitir relatórios</button>
                </div>
            </div>
     
        </div>
           <div class="table-responsive" ng-show="vm.vacinas.length > 0">
               <div class="myDivToPrint">
                    <table class="table">
                        <thead>
                            <th>Paciente</th>
                            <th>CPF</th>
                            <th>Vacina</th>
                            <th>Data da Vacina</th>
                        </thead>
                        <tr ng-repeat="vacina in vm.vacinas | orderBy: '-data_vacina'">
                            <td>{{vacina.vacinado.nome}}</td>
                            <td>{{vacina.vacinado.cpf}}</td>
                            <td>{{vacina.nome_vacina}}</td>
                            <td>{{vacina.data_vacina | date: 'mediumDate'}}</td>
                        </tr>
                    </table>
               </div>
                <div class="btn-print">
                    <button onclick="window.print();" class="btn btn-primary glyphicon glyphicon-print">
                    </button>
                </div>
            </div>
            

    </div>

</div>
</form>