body{
     font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.color-cloud
{
    color:#ecf0f1 !important;
}
.color-black{
    color: #000 !important;
}
/*BOXES*/
.box
    {
        width:100%;
        height:auto;
        margin:0;
        box-shadow:1px 1px 10px #ccc; 
        background:#fafafa;
    }
.box-header
    {
        padding:8px;
        border-bottom:1px solid #ddd;
    }
.box-footer{
     padding:10px;
     border-bottom:1px solid #ddd;
 }
 
.box-header h4
    {
        font-size:1.2em;
    }
.box-header p
    {
        color:#999;
        font-size:0.85em;
    }
.box-body
    {
        padding:14px;
    }
.box-body h5
    {
        font-size:0.9em;
        line-height:1.6em;
    }

.box.box-asphalt
    {
        color:#FFFFFF !important;
        background: rgb(54,67,84) !important;
        background: -moz-linear-gradient(-45deg,  rgba(54,67,84,1) 0%, rgba(46,58,72,1) 50%, rgba(54,67,84,1) 50%, rgba(46,58,72,1) 100%) !important;
        background: -webkit-linear-gradient(-45deg,  rgba(54,67,84,1) 0%,rgba(46,58,72,1) 50%,rgba(54,67,84,1) 50%,rgba(46,58,72,1) 100%) !important;
        background: linear-gradient(-45deg,  rgba(54,67,84,1) 0%,rgba(46,58,72,1) 50%,rgba(54,67,84,1) 50%,rgba(46,58,72,1) 100%) !important;
    }
.box.box-asphalt .box-header
    {
        background: rgb(54,67,84) !important;
        background: -moz-linear-gradient(45deg,  rgba(54,67,84,1) 0%, rgba(46,58,72,1) 50%, rgba(54,67,84,1) 50%, rgba(46,58,72,1) 100%) !important;
        background: -webkit-linear-gradient(45deg,  rgba(54,67,84,1) 0%,rgba(46,58,72,1) 50%,rgba(54,67,84,1) 50%,rgba(46,58,72,1) 100%) !important;
        background: linear-gradient(45deg,  rgba(54,67,84,1) 0%,rgba(46,58,72,1) 50%,rgba(54,67,84,1) 50%,rgba(46,58,72,1) 100%) !important;
    }
.box.box-river
    {
        color:#fff !important;
        background: rgb(2,119,189) !important;
        background: -moz-linear-gradient(-45deg,  rgba(2,119,189,1) 0%, rgba(3,111,178,1) 50%, rgba(2,119,189,1) 50%, rgba(3,111,178,1) 100%) !important;
        background: -webkit-linear-gradient(-45deg,  rgba(2,119,189,1) 0%,rgba(3,111,178,1) 50%,rgba(2,119,189,1) 50%,rgba(3,111,178,1) 100%) !important;
        background: linear-gradient(-45deg,  rgba(2,119,189,1) 0%,rgba(3,111,178,1) 50%,rgba(2,119,189,1) 50%,rgba(3,111,178,1) 100%) !important;
    }
.box.box-river .box-header
    {
        background: rgb(2,119,189) !important;
        background: -moz-linear-gradient(45deg,  rgba(2,119,189,1) 0%, rgba(3,111,178,1) 50%, rgba(2,119,189,1) 50%, rgba(3,111,178,1) 100%) !important;
        background: -webkit-linear-gradient(45deg,  rgba(2,119,189,1) 0%,rgba(3,111,178,1) 50%,rgba(2,119,189,1) 50%,rgba(3,111,178,1) 100%) !important;
        background: linear-gradient(45deg,  rgba(2,119,189,1) 0%,rgba(3,111,178,1) 50%,rgba(2,119,189,1) 50%,rgba(3,111,178,1) 100%) !important;
    }
    .box.box-red{
        color:#fff !important;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
background: #f85032; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
.box.box-sky
    {
        color:#fff !important;
        background: rgb(0,192,239) !important;
        background: -moz-linear-gradient(-45deg,  rgba(0,192,239,1) 0%, rgba(0,171,214,1) 50%, rgba(0,192,239,1) 50%, rgba(0,171,214,1) 100%) !important;
        background: -webkit-linear-gradient(-45deg,  rgba(0,192,239,1) 0%,rgba(0,171,214,1) 50%,rgba(0,192,239,1) 50%,rgba(0,171,214,1) 100%) !important;
        background: linear-gradient(-45deg,  rgba(0,192,239,1) 0%,rgba(0,171,214,1) 50%,rgba(0,192,239,1) 50%,rgba(0,171,214,1) 100%) !important;
    }
.box.box-sky .box-header
    {
        background: rgb(0,192,239) !important;
        background: -moz-linear-gradient(45deg,  rgba(0,192,239,1) 0%, rgba(0,171,214,1) 50%, rgba(0,192,239,1) 50%, rgba(0,171,214,1) 100%) !important;
        background: -webkit-linear-gradient(45deg,  rgba(0,192,239,1) 0%,rgba(0,171,214,1) 50%,rgba(0,192,239,1) 50%,rgba(0,171,214,1) 100%) !important;
        background: linear-gradient(45deg,  rgba(0,192,239,1) 0%,rgba(0,171,214,1) 50%,rgba(0,192,239,1) 50%,rgba(0,171,214,1) 100%) !important;
    }
.box.box-amethyst
    {
        color:#fff !important;
        background: rgb(155,89,182) !important;
        background: -moz-linear-gradient(-45deg,  rgba(155,89,182,1) 0%, rgba(142,68,173,1) 50%, rgba(155,89,182,1) 50%, rgba(142,68,173,1) 100%) !important;
        background: -webkit-linear-gradient(-45deg,  rgba(155,89,182,1) 0%,rgba(142,68,173,1) 50%,rgba(155,89,182,1) 50%,rgba(142,68,173,1) 100%) !important;
        background: linear-gradient(-45deg,  rgba(155,89,182,1) 0%,rgba(142,68,173,1) 50%,rgba(155,89,182,1) 50%,rgba(142,68,173,1) 100%) !important;
    }
.box.box-amethyst .box-header
    {
        background: rgb(155,89,182) !important;
        background: -moz-linear-gradient(45deg,  rgba(155,89,182,1) 0%, rgba(142,68,173,1) 50%, rgba(155,89,182,1) 50%, rgba(142,68,173,1) 100%) !important;
        background: -webkit-linear-gradient(45deg,  rgba(155,89,182,1) 0%,rgba(142,68,173,1) 50%,rgba(155,89,182,1) 50%,rgba(142,68,173,1) 100%) !important;
        background: linear-gradient(45deg,  rgba(155,89,182,1) 0%,rgba(142,68,173,1) 50%,rgba(155,89,182,1) 50%,rgba(142,68,173,1) 100%) !important;
    }
.box.box-emerald
    {
        color:#fff !important;
        background: rgb(46,204,113) !important;
        background: -moz-linear-gradient(-45deg,  rgba(46,204,113,1) 0%, rgba(44,193,111,1) 50%, rgba(46,204,113,1) 50%, rgba(44,193,111,1) 100%) !important;
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(46,204,113,1)), color-stop(50%,rgba(44,193,111,1)), color-stop(50%,rgba(46,204,113,1)), color-stop(100%,rgba(44,193,111,1))) !important;
        background: -webkit-linear-gradient(-45deg,  rgba(46,204,113,1) 0%,rgba(44,193,111,1) 50%,rgba(46,204,113,1) 50%,rgba(44,193,111,1) 100%) !important;
        background: -o-linear-gradient(-45deg,  rgba(46,204,113,1) 0%,rgba(44,193,111,1) 50%,rgba(46,204,113,1) 50%,rgba(44,193,111,1) 100%) !important;
        background: -ms-linear-gradient(-45deg,  rgba(46,204,113,1) 0%,rgba(44,193,111,1) 50%,rgba(46,204,113,1) 50%,rgba(44,193,111,1) 100%) !important;
        background: linear-gradient(-45deg,  rgba(46,204,113,1) 0%,rgba(44,193,111,1) 50%,rgba(46,204,113,1) 50%,rgba(44,193,111,1) 100%) !important;
    }
.box.box-emerald .box-header
    {
        background: rgb(46,204,113) !important;
        background: -moz-linear-gradient(45deg,  rgba(46,204,113,1) 0%, rgba(44,193,111,1) 50%, rgba(46,204,113,1) 50%, rgba(44,193,111,1) 100%) !important;
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(46,204,113,1)), color-stop(50%,rgba(44,193,111,1)), color-stop(50%,rgba(46,204,113,1)), color-stop(100%,rgba(44,193,111,1))) !important;
        background: -webkit-linear-gradient(45deg,  rgba(46,204,113,1) 0%,rgba(44,193,111,1) 50%,rgba(46,204,113,1) 50%,rgba(44,193,111,1) 100%) !important;
        background: -o-linear-gradient(45deg,  rgba(46,204,113,1) 0%,rgba(44,193,111,1) 50%,rgba(46,204,113,1) 50%,rgba(44,193,111,1) 100%) !important;
        background: -ms-linear-gradient(45deg,  rgba(46,204,113,1) 0%,rgba(44,193,111,1) 50%,rgba(46,204,113,1) 50%,rgba(44,193,111,1) 100%) !important;
        background: linear-gradient(45deg,  rgba(46,204,113,1) 0%,rgba(44,193,111,1) 50%,rgba(46,204,113,1) 50%,rgba(44,193,111,1) 100%) !important;
    }


.box.box-alizarin
    {
        color:#fff !important;
        background: rgb(231,76,60) !important;
        background: -moz-linear-gradient(-45deg,  rgba(231,76,60,1) 0%, rgba(206,75,55,1) 50%, rgba(231,76,60,1) 50%, rgba(206,75,55,1) 100%) !important;
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(231,76,60,1)), color-stop(50%,rgba(206,75,55,1)), color-stop(50%,rgba(231,76,60,1)), color-stop(100%,rgba(206,75,55,1))) !important;
        background: -webkit-linear-gradient(-45deg,  rgba(231,76,60,1) 0%,rgba(206,75,55,1) 50%,rgba(231,76,60,1) 50%,rgba(206,75,55,1) 100%) !important;
        background: -o-linear-gradient(-45deg,  rgba(231,76,60,1) 0%,rgba(206,75,55,1) 50%,rgba(231,76,60,1) 50%,rgba(206,75,55,1) 100%) !important;
        background: -ms-linear-gradient(-45deg,  rgba(231,76,60,1) 0%,rgba(206,75,55,1) 50%,rgba(231,76,60,1) 50%,rgba(206,75,55,1) 100%) !important;
        background: linear-gradient(-45deg,  rgba(231,76,60,1) 0%,rgba(206,75,55,1) 50%,rgba(231,76,60,1) 50%,rgba(206,75,55,1) 100%) !important;
    }
.box.box-alizarin .box-header
    {
        background: rgb(231,76,60) !important;
        background: -moz-linear-gradient(45deg,  rgba(231,76,60,1) 0%, rgba(206,75,55,1) 50%, rgba(231,76,60,1) 50%, rgba(206,75,55,1) 100%) !important;
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(231,76,60,1)), color-stop(50%,rgba(206,75,55,1)), color-stop(50%,rgba(231,76,60,1)), color-stop(100%,rgba(206,75,55,1))) !important;
        background: -webkit-linear-gradient(45deg,  rgba(231,76,60,1) 0%,rgba(206,75,55,1) 50%,rgba(231,76,60,1) 50%,rgba(206,75,55,1) 100%) !important;
        background: -o-linear-gradient(45deg,  rgba(231,76,60,1) 0%,rgba(206,75,55,1) 50%,rgba(231,76,60,1) 50%,rgba(206,75,55,1) 100%) !important;
        background: -ms-linear-gradient(45deg,  rgba(231,76,60,1) 0%,rgba(206,75,55,1) 50%,rgba(231,76,60,1) 50%,rgba(206,75,55,1) 100%) !important;
        background: linear-gradient(45deg,  rgba(231,76,60,1) 0%,rgba(206,75,55,1) 50%,rgba(231,76,60,1) 50%,rgba(206,75,55,1) 100%) !important;
    }
    .box.box-white .box-footer{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    }
    .box-yellow{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
background: #fceabb; /* Old browsers */
background: -moz-linear-gradient(-45deg, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
.box.box-asphalt .box-header,
.box.box-river .box-header,
.box.box-amethyst .box-header,
.box.box-emerald .box-header,
.box.box-sky .box-header,
.box.box-alizarin .box-header,
.box.box-white .box-footer
    {
        border:none !important;
    }
.box.box-asphalt,
.box.box-river ,
.box.box-amethyst ,
.box.box-emerald ,
.box.box-sky ,
.box.box-alizarin

    {
        text-shadow:1px 1px 2px #000;
    }
    .row{
        margin-top: 8px;
    }
    
 .report{
     width: 50%;
     height: auto;
     margin: 0px auto;

 }

 .footer{
     height: 1.5%;
 }
.footer-content{
    position: relative;
    margin: 20px 30% 0 40%;
}
.content-page{
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.logo{
    
    /*background-image: url('logo.png');
      width:50px;
    height:50px;*/
}

.text-center .img-responsive {
    margin: 0 auto;
}

.navbar-inicio {
 background: rgb(54,67,84) !important;
        background: -moz-linear-gradient(-45deg,  rgba(54,67,84,1) 0%, rgba(46,58,72,1) 50%, rgba(54,67,84,1) 50%, rgba(46,58,72,1) 100%) !important;
        background: -webkit-linear-gradient(-45deg,  rgba(54,67,84,1) 0%,rgba(46,58,72,1) 50%,rgba(54,67,84,1) 50%,rgba(46,58,72,1) 100%) !important;
        background: linear-gradient(-45deg,  rgba(54,67,84,1) 0%,rgba(46,58,72,1) 50%,rgba(54,67,84,1) 50%,rgba(46,58,72,1) 100%) !important;
    border-color: #000000;
}


 /*title */
.navbar-inicio .navbar-brand {
    color: #000000;
}
.navbar-inicio .navbar-brand:hover,
.navbar-inicio .navbar-brand:focus {
    background-color: #000000;
    color: #000000;
}
/* link */
.navbar-inicio .navbar-nav > li > a {
    color: #000000;
}
.navbar-inicio .navbar-nav > li > a:hover,
.navbar-inicio .navbar-nav > li > a:focus {
    background-color: #000000;
    color: #000000;
}
.navbar-inicio .navbar-nav > .active > a, 
.navbar-inicio .navbar-nav > .active > a:hover, 
.navbar-inicio .navbar-nav > .active > a:focus {
    color: #000000;
    background: rgb(54,67,84) !important;
        background: -moz-linear-gradient(-45deg,  rgba(54,67,84,1) 0%, rgba(46,58,72,1) 50%, rgba(54,67,84,1) 50%, rgba(46,58,72,1) 100%) !important;
        background: -webkit-linear-gradient(-45deg,  rgba(54,67,84,1) 0%,rgba(46,58,72,1) 50%,rgba(54,67,84,1) 50%,rgba(46,58,72,1) 100%) !important;
        background: linear-gradient(-45deg,  rgba(54,67,84,1) 0%,rgba(46,58,72,1) 50%,rgba(54,67,84,1) 50%,rgba(46,58,72,1) 100%) !important;
    border-color: #000000;
}
.navbar-inicio .navbar-nav > .open > sa, 
.navbar-inicio .navbar-nav > .open > a:hover, 
.navbar-inicio .navbar-nav > .open > a:focus {
    color: #000000;
    background-color:	#000000;
    border-color: #000000;
   
}


html {
    height:100%;
    min-height:100%;
    padding:0;
}

.divResize {
    background:#000;
    width:100%;
    height:100%;
    max-width:600px;
    max-height:500px;
}
@media print { 
    .box-body  * { display:none; } 
    .btn-print * {display: none;}
   
    .myDivToPrint { 
        display:block; 
        background-color: white; 
        height: 100%; 
        width: 100%; 

        position: fixed; 
        top: 0; 
        left: 0;
         margin: 0; 
         padding: 15px; 
         font-size: 23px; 
         line-height: 18px; }
          }

/**/