<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger" ng-show="vm.authenticationError" data-translate="login.messages.error.authentication">
                <strong>Falha ao logar</strong> Por favor, verifique suas credenciais
            </div>
            <login-view></login-view>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form class="form" role="form" ng-submit="vm.login($event)">
                <div class="form-group">
                    <label for="username" data-translate="global.form.username">Login</label>
                    <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
                </div>
                <div class="form-group">
                    <label for="password" data-translate="login.form.password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                           ng-model="vm.password">
                </div>
                <div class="form-group">
                    <label for="rememberMe">
                        <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                        <span data-translate="login.form.rememberme">Remember me</span>
                    </label>
                    <div class="btn-entrar">
                        <button type="submit" class="btn btn-primary" data-translate="login.form.button">Entrar</button>
                    </div>
                     
                </div>
               
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" href="" ng-click="vm.requestResetPassword()" data-translate="login.password.forgot">Esqueceu sua senha?</a>
            </div>
            <div class="alert alert-warning" data-translate="global.messages.info.register" translate-compile>
                Você ainda não possui uma conta?<a class="alert-link" href="" ng-click="vm.register()">Registrar uma nova conta</a>
            
            </div>
        </div>
    </div>
</div>

   