<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success" ng-show="vm.success" data-translate="register.messages.success">
                
            </div>

            <div class="alert alert-danger" ng-show="vm.error" data-translate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorUserExists" data-translate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>
            <div class="alert alert-danger" ng-show="vm.errorCpfEmUso" data-translate="register.messages.error.CpfEmUso">
                <strong>Este CPF Já existe</strong>Por favor escolha outro.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists" data-translate="register.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>


        <div class="col-md-8 col-md-offset-2">
               
            
            <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.register()" show-validation>
             <div class="box box-header box-alizarin"><h4>Dados do usuário</h4></div>   
                <hr> 
                <div class="form-group">
                    <span>Login</span>
                    <input type="text" class="form-control" id="login" name="login" ng-model="vm.registerAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/"
                        required>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block" ng-show="form.login.$error.required" data-translate="register.messages.validate.login.required">
                            Your username is required.
                        </p>
                        <p class="help-block" ng-show="form.login.$error.minlength" data-translate="register.messages.validate.login.minlength">
                            Your username is required to be at least 1 character.
                        </p>
                        <p class="help-block" ng-show="form.login.$error.maxlength" data-translate="register.messages.validate.login.maxlength">
                            Your username cannot be longer than 50 characters.
                        </p>
                        <p class="help-block" ng-show="form.login.$error.pattern" data-translate="register.messages.validate.login.pattern">
                            Your username can only contain lower-case letters and digits.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <span>Email</span>
                    <input type="email" class="form-control" id="email" name="email" 
                        ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block" ng-show="form.email.$error.required" data-translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.email" data-translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.minlength" data-translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.maxlength" data-translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <span>Senha</span>
                    <input type="password" class="form-control" id="password" name="password" 
                        ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block" ng-show="form.password.$error.required" data-translate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </p>
                        <p class="help-block" ng-show="form.password.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </p>
                        <p class="help-block" ng-show="form.password.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <span>Confirme a senha</span>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                        ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block" ng-show="form.confirmPassword.$error.required" data-translate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block" ng-show="form.confirmPassword.$error.minlength" data-translate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </p>
                        <p class="help-block" ng-show="form.confirmPassword.$error.maxlength" data-translate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                        <p class="help-block" ng-show="vm.confirmPassword !== vm.registerAccount.password">
                                As senhas devem ser iguais
                        </p>
                    </div>
                </div>
                <!--Aqui começa o cadastro de pacientes-->
                <hr>
                <div class="box box-header box-river"><h4>Dados do paciente</h4></div>
                <hr>
                  <div class="form-group">
                      <span>CPF</span>
                    <input type="text" class="form-control" id="cpfPaciente" name="cpfPaciente" 
                        ng-model="vm.registerAccount.cpf"
                            validate-cpf
                         ui-options="{clearOnBlur: false}"
                         minlength="11"
                         numbers-only 
                         maxlength="11" 
                         placeholder="99999999999"
                        >
                        
                        <p class="help-block" ng-show="form.cpfPaciente.$error.minlength">
                            O CPF deve ter 11 dígitos
                        </p>
                         
                        <p class="help-block" ng-show="form.cpfPaciente.$error.maxlength">
                            O CPF deve ter 11 dígitos
                        </p>
                        
                </div>
                <div class="form-group">
                    <span>Nome</span>
                    <input type="text" class="form-control" id="nomePaciente" name="nomePaciente" ng-model="vm.registerAccount.nome" required>
                </div>
              

                <div class="form-group">
                    <span>Nome da mãe</span>
                    <input type="text" class="form-control" id="nome_mae" name="nome_mae" 
                        ng-model="vm.registerAccount.nome_mae" required>
                </div>

                <div class="form-group">
                    <span>Nome do pai</span>
                    <input type="text" class="form-control" id="nome_pai" name="nome_pai"
                        ng-model="vm.registerAccount.nome_pai" required>
                </div>

                <div class="form-group">
                    <span>Nascimento</span>
                    <div class="input-group">
                        
                        <input id="nascimento" type="text" class="form-control"
                            name="nascimento" 
                            ng-model="vm.registerAccount.data_nascimento" 
    
                            is-open="vm.datePickerOpenStatus.data_nascimento" 
                            uib-datepicker-popup="{{vm.dateFormat}}"
                            ui-mask="99/99/9999"
                            ui-options="{clearOnBlur: false}"
                            model-view-value="true"
                            required
                            />
                           
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" 
                        ng-click="vm.openCalendar('data_nascimento')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                     
                    </div>
                </div>
                <div class="form-group">
                    <span>Endereço</span>
                    <input type="text" class="form-control" id="endereco" name="endereco"
                        ng-model="vm.registerAccount.endereco">
                </div>
                <div class="form-group">
                    <span>Celular</span>
                    <input type="text" class="form-control" id="telefone" name="telefone" 
                        ng-model="vm.registerAccount.telefone"
                        ui-mask="(99)9999?9-9999"
                        ui-options="{clearOnBlur: false}"
                        >
                </div>
                <div class="form-group">
                    <span>Sexo</span>
                    <select class="form-control" name="sexo" id="sexo" ng-model="vm.registerAccount.sexo" >
                                <option>Masculino</option>
                                <option>Feminino</option>
                    </select>
                </div>
                <!--Aqui termina o cadastro de paciente-->
                <div class="form-group">
                    <button type="submit" ng-disabled="form.$invalid || vm.registerAccount.cpf.length !== 11" class="btn btn-primary" data-translate="register.form.button">Register</button>
                </div>


            </form>
        </div> 
    </div>
</div>