<nav class="navbar navbar-inicio" role="navigation">
    

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">

            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home color-cloud"></span>
                        <span class="hidden-sm color-cloud" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" has-authority="ROLE_ADMIN" ng-switch-when="true" uib-dropdown class="dropdown pointer ">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list color-cloud"></span>
                        <span class="hidden-sm color-cloud" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                        <b class="caret color-cloud"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>

                        <li ui-sref-active="active">
                            <a ui-sref="vacina" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tint"></span>
                                <span data-translate="global.menu.entities.vacina">Vacina</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="paciente" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>
                                <span data-translate="global.menu.entities.paciente">Paciente</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="campanha" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-file"></span>
                                <span data-translate="global.menu.entities.campanha">Campanha</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="agente-saude" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>
                                <span data-translate="global.menu.entities.agenteSaude">Agente Saude</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li class="dropdown pointer" ui-sref-active="active" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                         <span class="glyphicon glyphicon-pencil color-cloud"></span>
                        <span class="hidden-sm color-cloud">Dicas</span>
                        <b class="caret color-cloud"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="dicas-saude" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign color-black"></span>
                                <span class="color-black" data-translate="dicasSaude.menu.titulo">Dicas saude</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="saude-bucal" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon glyphicon-plus"></span>
                                <span data-translate="saudeBucal.menu.titulo">Saude Bucal</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="evite-acidentes" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-alert"></span>
                                <span data-translate="eviteAcidentes.menu.titulo">Evite Acidentes</span>
                            </a>
                        </li>
                    </ul>
                </li>

               
                <li ng-class="{active: vm.$state.includes('admin')}" has-authority="ROLE_ADMIN" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower color-cloud"></span>
                        <span class="hidden-sm color-cloud" data-translate="global.menu.admin.main">Administration</span>
                        <b class="caret color-cloud"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                         <li ui-sref-active="active">
                            <a ui-sref="report" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span>Relatórios</span>
                            </a>
                        </li>
                        <!--<li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard color-cloud"></span>
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart color-cloud"></span>
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>-->
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                 <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user color-cloud"></span>
                        <span class="hidden-sm color-cloud" data-translate="global.menu.account.main">
                                Account
                            </span>
                        <b class="caret color-cloud"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" has-authority="ROLE_ADMIN" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li has-authority="ROLE_USER" ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings.paciente" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>
                                <span data-translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                        <span class="hidden-sm color-cloud" data-translate="global.menu.language">Language</span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>



