<div ng-cloak>
    <div ng-switch="vm.isAuthenticated()">
        <div ng-switch-when="true">
            <div class="alert alert-success" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
            </div>
            <div class="alert alert-success" ng-if="vm.minhasVacinas.length > 0">
                Paciente: {{vm.minhasVacinas[0].vacinado.nome}}
            </div>
            <div class="row" has-authotity="ROLE_USER">
                <div ng-repeat="vacina in vm.minhasVacinas" class="col-xs-6 col-sm-3">
                    <div class="box">
                            <div class="box box-header box-emerald"><h4>{{vacina.nome_vacina}}</h4></div>
                            <div class="box box-body">
                                <h5>Data: {{vacina.data_vacina | date:'mediumDate'}}</h5>
                                <h5>Proxima: {{vacina.proxima_vacina | date:'mediumDate'}}</h5>
                                <h5>Lote: {{vacina.lote}}</h5>
                                <h5>Local: {{vacina.local_vacina}}</h5>
                            </div>
                            <div class="box box-footer box-white"></div>
                    </div>
                    
                </div>
                <hr>    
            </div>
        </div>
        <div has-authority="ROLE_ADMIN">
             <div class="row">
                <div ng-repeat="campanha in vm.campanhas" class="col-xs-6 col-sm-3">
                    <div class="box">
                            <div ng-class="{{campanha.data_fim}} < {{vm.dataAtual}} ? ['box', 'box-header', 'box-red'] : ['box', 'box-header', 'box-yellow']" class="box box-header box-yellow"><h4>{{campanha.nome}}</h4></div>
                            <div class="box box-body">
                                <h5>Inicio: {{campanha.data_inicio | date:'mediumDate'}}</h5>
                                <h5>Fim: {{campanha.data_fim | date:'mediumDate'}}</h5>
                                <h5><h6>Descrição</h6>{{campanha.descricao}}</h5>
                            </div>
                            <div class="box box-footer box-white"></div>
                    </div>

                </div>
            </div>
        </div>
        <div ng-switch-when="false">
             <div class="row">

            <div class=" col-lg-24 text-center">
            <img class="img-responsive" src="../../logo.png" alt="Imagem"/>
            </div> 

                 
              
            
            </div>

        </div>

    
    </div>
</div>