<div ng-if="vm.minhasCampanhas.length == 0" class="modal-header">   
    <div class="modal-body" >
        <h4>Nenhuma campanha no momento</h4>
    </div>
</div>

<div ng-repeat="campanha in vm.minhasCampanhas">
    <div class="modal-header box box-header box-amethyst">
        <h4>{{campanha.nome}}</h4>
    </div>
    <div class="modal-body">
       
       <ul class="list-group">
            <li class="list-group-item"><h3>{{campanha.descricao}}</h3></li>
           <li class="list-group-item"><span>Inicio da campanha: </span>{{campanha.data_inicio | date:'mediumDate'}}</li>
           <li class="list-group-item"><span>Fim da campanha: </span>{{campanha.data_fim | date: 'mediumDate'}}</li>
       </ul>
    </div>
    <hr>
</div>
 <div class="modal-footer">
        <button type="button" class="btn btn-primary" ui-sref="home" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ok"></span><span>Ok</span>
        </button>
    </div>