
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPacienteLabel" data-translate="cadernetavacinacaoApp.paciente.home.createOrEditLabel">Create or edit a Paciente</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.paciente.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.paciente.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.paciente.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.paciente.nome"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.paciente.cpf" for="field_cpf">Cpf</label>
            <input type="text" class="form-control" name="cpf" id="cpf"
                    ng-model="vm.paciente.cpf"
                    ui-options="{clearOnBlur: false}"
                      numbers-only 
                    validate-cpf
                    maxlength="11"
                    minlength="11"
                    />
            <div ng-show="editForm.cpf.$invalid">
                <p class="help-block" ng-show="editForm.cpf.$error.maxlength">
                            O CPF deve ter 11 digitos.
                        </p>
                         <p class="help-block" ng-show="editForm.cpf.$error.minlength">
                            O CPF deve ter 11 digitos.
                        </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.paciente.nome_pai" for="field_nome_pai">Nome Pai</label>
            <input type="text" class="form-control" name="nome_pai" id="field_nome_pai"
                    ng-model="vm.paciente.nome_pai"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.paciente.nome_mae" for="field_nome_mae">Nome Mae</label>
            <input type="text" class="form-control" name="nome_mae" id="field_nome_mae"
                    ng-model="vm.paciente.nome_mae"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.paciente.data_nascimento" for="field_data_nascimento">Data Nascimento</label>
                <div class="input-group">
                    <input id="field_data_nascimento" type="text" class="form-control" 
                    name="data_nascimento"
                     uib-datepicker-popup="dd/MM/yyyy"
                     ui-mask="99/99/9999"
                     model-view-value="true"
                      ng-model="vm.paciente.data_nascimento" is-open="vm.datePickerOpenStatus.data_nascimento"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('data_nascimento')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.paciente.endereco" for="field_endereco">Endereco</label>
            <input type="text" class="form-control" name="endereco" id="field_endereco"
                    ng-model="vm.paciente.endereco"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.paciente.telefone" for="field_telefone">Telefone</label>
            <input type="text" class="form-control" name="telefone" id="field_telefone"
                    ng-model="vm.paciente.telefone"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.paciente.sexo" for="field_sexo">Sexo</label>
            <input type="text" class="form-control" name="sexo" id="field_sexo"
                    ng-model="vm.paciente.sexo"
                    />
        </div>

        <div class="form-group">
            <label data-translate="cadernetavacinacaoApp.paciente.login" for="field_login">Login</label>
            <input type="text" readonly class="form-control" id="field_login" name="login" ng-model="vm.paciente.login.login">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving || vm.paciente.cpf.length !== 11" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
