
<div>
    <h2><span data-translate="cadernetavacinacaoApp.paciente.detail.title">Paciente</span> {{vm.paciente.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="cadernetavacinacaoApp.paciente.nome">Nome</span></dt>
        <dd>
            <span>{{vm.paciente.nome}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.paciente.cpf">Cpf</span></dt>
        <dd>
            <span>{{vm.paciente.cpf}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.paciente.nome_pai">Nome Pai</span></dt>
        <dd>
            <span>{{vm.paciente.nome_pai}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.paciente.nome_mae">Nome Mae</span></dt>
        <dd>
            <span>{{vm.paciente.nome_mae}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.paciente.data_nascimento">Data Nascimento</span></dt>
        <dd>
            <span>{{vm.paciente.data_nascimento | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.paciente.endereco">Endereco</span></dt>
        <dd>
            <span>{{vm.paciente.endereco}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.paciente.telefone">Telefone</span></dt>
        <dd>
            <span>{{vm.paciente.telefone}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.paciente.sexo">Sexo</span></dt>
        <dd>
            <span>{{vm.paciente.sexo}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.paciente.login">Login</span></dt>
        <dd>
            {{vm.paciente.login.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <!--<button type="button" ui-sref="paciente-detail.edit({id:vm.paciente.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>-->
</div>
