<div>
    <!--<h2 data-translate="cadernetavacinacaoApp.paciente.home.title">Pacientes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="paciente.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cadernetavacinacaoApp.paciente.home.createLabel">
                        Create new Paciente
                    </span>
                </button>
            </div>
        </div>
    </div>-->
    <jhi-alert></jhi-alert>
    <input type="text" ng-model="criterioBusca" class="form-control" placeholder="Digite qualquer coisa relacionada ao paciente"/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <!--<th><span data-translate="global.field.id">ID</span></th>-->
                    <th><span data-translate="cadernetavacinacaoApp.paciente.id">Id</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.paciente.nome">Nome</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.paciente.cpf">Cpf</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.paciente.nome_pai">Nome do pai</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.paciente.nome_mae">Nome da mae</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.paciente.data_nascimento">Data de nascimento</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.paciente.endereco">Endereco</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.paciente.telefone">Telefone</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.paciente.sexo">Sexo</span></th>
                    <!--<th><span data-translate="cadernetavacinacaoApp.paciente.login">Login</span></th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="paciente in vm.pacientes | filter:criterioBusca | orderBy: criterioOrdenacao:direcaoOrdenacao">
                    <td><a ui-sref="paciente-detail({id:paciente.id})">{{paciente.id}}</a></td>
                    <td>{{paciente.nome}}</td>
                    <td>{{paciente.cpf}}</td>
                    <td>{{paciente.nome_pai}}</td>
                    <td>{{paciente.nome_mae}}</td>
                    <td>{{paciente.data_nascimento | date:'mediumDate'}}</td>
                    <td>{{paciente.endereco}}</td>
                    <td>{{paciente.telefone}}</td>
                    <td>{{paciente.sexo}}</td>
                    <!--<td>
                        {{paciente.login.login}}
                    </td>-->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="paciente-detail({id:paciente.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="paciente.edit({id:paciente.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="paciente.delete({id:paciente.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
