<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="vacina.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Aplicar Nova Vacina
                    </span>
                </button>
            </div>
        </div>
    </div>
    <hr>    
    <input type="text" ng-model="criterioBusca" class="form-control" placeholder="Digite qualquer coisa relacionada ao paciente"/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span></span></th>
                    <th jh-sort-by="nome_vacina"><span data-translate="cadernetavacinacaoApp.vacina.nome_vacina">Nome Vacina</span> <span></span></th>
                    <th jh-sort-by="data_vacina"><span data-translate="cadernetavacinacaoApp.vacina.data_vacina">Data Vacina</span> <span></span></th>
                    <th jh-sort-by="proxima_vacina"><span data-translate="cadernetavacinacaoApp.vacina.proxima_vacina">Proxima Vacina</span> <span></span></th>
                    <th jh-sort-by="lote"><span data-translate="cadernetavacinacaoApp.vacina.lote">Lote</span> <span></span></th>
                    <th jh-sort-by="local_vacina"><span data-translate="cadernetavacinacaoApp.vacina.local_vacina">Local Vacina</span> <span></span></th>
                    <th jh-sort-by="Vacinado.login"><span data-translate="cadernetavacinacaoApp.vacina.Vacinado">Vacinado</span> <span></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vacina in vm.vacinas | filter:criterioBusca | orderBy: criterioOrdenacao:direcaoOrdenacao">
                    <td><a ui-sref="vacina-detail({id:vacina.id})">{{vacina.id}}</a></td>
                    <td>{{vacina.nome_vacina}}</td>
                        <td>{{vacina.data_vacina | date:'mediumDate'}}</td>
                        <td>{{vacina.proxima_vacina | date:'mediumDate'}}</td>
                    <td>{{vacina.lote}}</td>
                    <td>{{vacina.local_vacina}}</td>
                    <td>
                        {{vacina.vacinado.nome}} 
                        {{vacina.vacinado.cpf}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="vacina-detail({id:vacina.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="vacina.edit({id:vacina.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="vacina.delete({id:vacina.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
