
<div>
    <h2><span data-translate="cadernetavacinacaoApp.vacina.detail.title">Vacina</span> {{vm.vacina.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="cadernetavacinacaoApp.vacina.nome_vacina">Nome Vacina</span></dt>
        <dd>
            <span>{{vm.vacina.nome_vacina}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.vacina.data_vacina">Data Vacina</span></dt>
        <dd>
            <span>{{vm.vacina.data_vacina | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.vacina.proxima_vacina">Proxima Vacina</span></dt>
        <dd>
            <span>{{vm.vacina.proxima_vacina | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.vacina.lote">Lote</span></dt>
        <dd>
            <span>{{vm.vacina.lote}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.vacina.local_vacina">Local Vacina</span></dt>
        <dd>
            <span>{{vm.vacina.local_vacina}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.vacina.Vacinado">Vacinado</span></dt>
        <dd>
            {{vm.vacina.vacinado.Nome}} ,
            {{vm.vacina.vacinado.cpf}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <!--<button type="button" ui-sref="vacina-detail.edit({id:vm.vacina.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>-->
</div>
