
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myVacinaLabel" data-translate="cadernetavacinacaoApp.vacina.home.createOrEditLabel">Create or edit a Vacina</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.vacina.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.vacina.id" readonly />
        </div>

           <div class="form-group">
            <label data-translate="cadernetavacinacaoApp.vacina.Vacinado" for="field_Vacinado">Vacinado</label>
            <select class="form-control" id="field_Vacinado" name="Vacinado" ng-model="vm.vacina.vacinado" ng-options="paciente as paciente.nome for paciente in vm.paciente track by paciente.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.vacina.nome_vacina" for="field_nome_vacina">Nome Vacina</label>
            <select class="form-control" id="field_Vacinado" 
            name="Vacinado" ng-model="vm.vacina.nome_vacina" 
            ng-options="vacina for vacina in vm.vacinas" 
            ng-change="vm.setProximaVacina(vm.vacina.nome_vacina)"
            required>
                <option></option>
            </select>
            <div ng-show="editForm.nome_vacina.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome_vacina.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
          <div class="form-group">
            <label class="control-label">Tipo da vacina</label>
                    <select class="form-control" id="tipovacina" 
                    name="tipo" ng-model="vm.tipo" 
                    ng-options="tipo for tipo in vm.tipovacina" 
                    >
                        <option></option>
                    </select>
                    
        </div>
 
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.vacina.data_vacina" for="field_data_vacina">Data Vacina</label>
                <div class="input-group">
                    <input id="field_data_vacina" type="text" class="form-control" name="data_vacina" 
                    ng-model="vm.vacina.data_vacina" 
                            uib-datepicker-popup="{{vm.dateFormat}}"
                            is-open="vm.datePickerOpenStatus.data_vacina" 
                            ui-mask="99/99/9999"
                            model-view-value="true"
                            is-open="vm.datePickerOpenStatus.data_vacina"
                            ng-disabled="vm.vacina.nome_vacina !== 'Outras' && vm.tipo == 'Nova'"
                            required/>

                    <span class="input-group-btn">
                        <button type="button" ng-disabled="vm.vacina.nome_vacina !== 'Outras' && vm.tipo == 'Nova'" class="btn btn-default" 
                        ng-click="vm.openCalendar('data_vacina')"
                        
                        ><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.data_vacina.$invalid">
                <p class="help-block"
                    ng-show="editForm.data_vacina.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.vacina.proxima_vacina" for="field_proxima_vacina">Proxima Vacina</label>
                <div class="input-group">
                    <input id="field_proxima_vacina" type="text" 
                    class="form-control" name="proxima_vacina" 
                    ng-model="vm.vacina.proxima_vacina"
                       uib-datepicker-popup="{{vm.dateFormat}}"
                            is-open="vm.datePickerOpenStatus.proxima_vacina" 
                            ui-mask="99/99/9999"
                            model-view-value="true"
                            is-open="vm.datePickerOpenStatus.proxima_vacina"
                            ng-disabled="vm.vacina.nome_vacina !== 'Outras' && vm.tipo == 'Nova'"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                         ng-click="vm.openCalendar('proxima_vacina')"
                         ng-disabled="vm.vacina.nome_vacina !== 'Outras' && vm.tipo == 'Nova'"
                         ><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
          <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.vacina.local_vacina" for="field_local_vacina">Local Vacina</label>
            <select class="form-control" id="field_Vacinado" 
            name="posto"
            ng-model="vm.vacina.local_vacina"
            ng-options="posto for posto in vm.postos" 
            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.vacina.lote" for="field_lote">Lote</label>
            <input type="text" class="form-control" name="lote" id="field_lote"
                    ng-model="vm.vacina.lote"
                    required/>
            <div ng-show="editForm.lote.$invalid">
                <p class="help-block"
                    ng-show="editForm.lote.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
