<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCampanhaLabel" data-translate="cadernetavacinacaoApp.campanha.home.createOrEditLabel">Create or edit a Campanha</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.campanha.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" ng-model="vm.campanha.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" required data-translate="cadernetavacinacaoApp.campanha.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome" ng-model="vm.campanha.nome" />
        </div>
        <div class="form-group">
            <label class="control-label" required data-translate="cadernetavacinacaoApp.campanha.idadeMinima" placeholder="Exemplo: 15" for="field_idadeMinima">Idade Minima</label>
            <input type="text" class="form-control" name="idade_minima" ui-mask="9?9" id="field_idade_minima" ng-model="vm.campanha.idadeMinima"
            ng-model-options="{ updateOn: 'blur', allowInvalid: true}"
            />
        </div>
        <div class="form-group">
            <label class="control-label" required data-translate="cadernetavacinacaoApp.campanha.idadeMaxima" for="field_idadeMaxima">Idade Maxima</label>
            <input type="text" class="form-control" name="idade_maxima" ui-mask="9?9" id="field_idade_maxima" ng-model="vm.campanha.idadeMaxima"
            ng-model-options="{ updateOn: 'blur', allowInvalid: true}"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.campanha.data_inicio" for="field_data_inicio">Data Inicio</label>
            <div class="input-group">
                <input id="field_data_inicio" type="text" class="form-control" name="data_inicio" 
                            ng-model="vm.campanha.data_inicio"
                            ng-model-options="{ updateOn: 'blur', allowInvalid: true}"
                            uib-datepicker-popup="{{vm.dateFormat}}"
                            is-open="vm.datePickerOpenStatus.data_inicio" 
                            ui-mask="99/99/9999"
                            model-view-value="true"
                            is-open="vm.datePickerOpenStatus.data_inicio" 
                            required
                            />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('data_inicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.campanha.data_fim" for="field_data_fim">Data Fim</label>
            <div class="input-group">
                <input id="field_data_fim" 
                            uib-datepicker-popup="{{vm.dateFormat}}"
                            is-open="vm.datePickerOpenStatus.data_fim" 
                            ui-mask="99/99/9999"
                            model-view-value="true"
                type="text" class="form-control" name="data_fim"
                required
                  ng-model="vm.campanha.data_fim"
                  ng-model-options="{ updateOn: 'blur', allowInvalid: true}"
                    is-open="vm.datePickerOpenStatus.data_fim" />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('data_fim')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cadernetavacinacaoApp.campanha.descricao" for="field_descricao">Descricao</label>
            <textarea class="form-control" name="descricao" id="field_descricao" ng-model="vm.campanha.descricao">
            </textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving || vm.campanha.data_fim < vm.campanha.data_inicio || vm.campanha.data_inicio > vm.campanha.data_fim || vm.campanha.idadeMaxima < vm.campanha.idadeMinima || vm.campanha.idadeMinima > vm.campanha.idadeMaxima" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>