<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="campanha.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="cadernetavacinacaoApp.campanha.home.createLabel">
                        Create new Campanha
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <input type="text" ng-model="criterioBusca" class="form-control" placeholder="Digite qualquer coisa relacionada a campanha"/>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.campanha.nome">Nome</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.campanha.idadeMinima">Idade Minima</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.campanha.idadeMaxima">Idade Maxima</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.campanha.data_inicio">Data Inicio</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.campanha.data_fim">Data Fim</span></th>
                    <th><span data-translate="cadernetavacinacaoApp.campanha.descricao">Descricao</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="campanha in vm.campanhas | filter:criterioBusca | orderBy: criterioOrdenacao:direcaoOrdenacao">
                    <td><a ui-sref="campanha-detail({id:campanha.id})">{{campanha.id}}</a></td>
                    <td>{{campanha.nome}}</td>
                    <td>{{campanha.idadeMinima}}</td>
                    <td>{{campanha.idadeMaxima}}</td>
                        <td>{{campanha.data_inicio | date:'mediumDate'}}</td>
                        <td>{{campanha.data_fim | date:'mediumDate'}}</td>
                    <td>{{campanha.descricao}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="campanha-detail({id:campanha.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="campanha.edit({id:campanha.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="campanha.delete({id:campanha.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
