
<div>
    <h2><span data-translate="cadernetavacinacaoApp.campanha.detail.title">Campanha</span> {{vm.campanha.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="cadernetavacinacaoApp.campanha.nome">Nome</span></dt>
        <dd>
            <span>{{vm.campanha.nome}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.campanha.idadeMinima">Idade Minima</span></dt>
        <dd>
            <span>{{vm.campanha.idadeMinima}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.campanha.idadeMaxima">Idade Maxima</span></dt>
        <dd>
            <span>{{vm.campanha.idadeMaxima}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.campanha.data_inicio">Data Inicio</span></dt>
        <dd>
            <span>{{vm.campanha.data_inicio | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.campanha.data_fim">Data Fim</span></dt>
        <dd>
            <span>{{vm.campanha.data_fim | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="cadernetavacinacaoApp.campanha.descricao">Descricao</span></dt>
        <dd>
            <span>{{vm.campanha.descricao}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <!--<button type="button" ui-sref="campanha-detail.edit({id:vm.campanha.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>-->
</div>
